.card__like-button {
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-size: contain;
    width: 22px;
    height: 19px;
    cursor: pointer;
    background-image: url(../../../images/like_button.svg);
    transition: opacity 0.14s ease-in-out;
    padding: 0;
}

.card__like-button:hover {
    opacity: 0.55;
}

@media screen and (max-width: 1024px) {
    .card__like-button {
        width: 20px;
        height: 17px;
    }
}

@media screen and (max-width: 880px) {
    .card__like-button {
        width: 27px;
        height: 24px;
    }
}

@media screen and (max-width: 720px) {
    .card__like-button {
        width: 22px;
        height: 19px;
    }
}