.header__logo {
    width: 100%;
    max-width: 142px;
    margin: 0 0 41px;
}

@media screen and (max-width: 720px) {
    .header__logo {
        margin-left: 27px;
    }
}

@media screen and (max-width: 400px){
    .header__logo {
        margin: 0 0 31px 27px;
        max-width: 103.74px;
        min-height: 24.4px;
    }
}